* 
{
    box-sizing: border-box;
    font-family: sans-serif
}

/* For the box item */
.fizzbuzz-item
{
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px solid black;
    margin-right: 5px;
    margin-bottom: 5px;
}

main 
{
    max-width: 960px;
    margin: 0 auto;
    min-width: 250px;
    padding: 30px;
}

.fizzbuzz-item span {
    vertical-align: middle;
    line-height: 80px;
}

.fizz, .fizzbuzz
{
    border: 5px dotted coral;
}

.buzz, .fizzbuzz
{
    background-color: lightcoral;
}